<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651269676503-eqdfjv0pbvqqhr85fqq5573qgpk9fm9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651269676503-eqdfjv0pbvqqhr85fqq5573qgpk9fm9l</string>
	<key>API_KEY</key>
	<string>AIzaSyC8z-7E9zztyweNleSLQSvu6BE9WFgMlyk</string>
	<key>GCM_SENDER_ID</key>
	<string>651269676503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moleculargenetics</string>
	<key>PROJECT_ID</key>
	<string>massege-c61d0</string>
	<key>STORAGE_BUCKET</key>
	<string>massege-c61d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651269676503:ios:06674bc726d60411353f92</string>
</dict>
</plist>